<!DOCTYPE html>
<html lang="en">
<head>
<title>Degree Planner</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">BREAD Degree Planner</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:50px 16px">
  <h1 class="w3-margin w3-jumbo">BREAD Degree Planner</h1>
  <!-- <p class="w3-xlarge">Degree Planner</p> -->
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
        <h1>Hello!</h1>
        <p class="w3-text-grey">Welcome to our degree planner! Select your program, what semester you want to start in and the courses you've already taken (eg. "COMP 250", separated by a comma).
            When you hit submit, a sample schedule will be produced, taking into account prerequisites and what semester courses are offered in.</p>        
        <form method = 'post'>
            <table>
                {{ form }}
            </table>
            <!-- <h1> {{ program }} </h1>
            <h1> {{ courses }} </h1> -->
            {% csrf_token %}
            <button type="submit">Submit</button>
        <!-- </form>
        <table id="myTable" border="1"> 
        </table><form> 
        <input type="button" onclick="createTable()" value="Create the table"> 
        </form> -->
    </div>
    <div class="w3-third w3-center">
        <img src="{% static 'logo/logo.png' %}" style="width:350px;height:350px;">
    <!-- <i class="fa fa-anchor w3-padding-64 w3-text-red"></i> -->
    </div>
  </div>
</div>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
<title>Column Layout</title>
<style type="text/css">
p {text-align: center;}
.column {
  width: 15%;
  border: 0px solid gray;
  float: left;
}
</style>
</head>
<body>
{% if col1 %}
<p> Here are the courses required for your degree. The courses are divided into columns, where the prerequisite of each course is located in the column directly to the left. </p>
<br>
<br>
{% endif %}
<div class="column one">
&nbsp
</div>
<div class="column two">
{% for i in col1 %}
  {{ i }}
  <br>
{% endfor %}
</div>
<div class="column three">
{% for i in col2 %}
  {{ i }}
  <br>
{% endfor %}
</div>
<div class="column four">
{% for i in col3 %}
  {{ i }}
  <br>
{% endfor %}
</div>
<div class="column five">
{% for i in col4 %}
  {{ i }}
  <br>
{% endfor %}
</div>
<div class="column six">
{% for i in col5 %}
  {{ i }}
  <br>
{% endfor %}
<br>
<br>
</div>
</div>
</body>
</html>